{% template 'components/body.twig' %}
<article>
    <div class="hero-image">
        <h2>Big Ol' Hero Image Message!</h2>
        <p>You better believe it!</p>
    </div>
</article>
{% endtemplate %}

{% style %}
<style>
.hero-image {
    padding: 5em 2em;
    text-align: center;
    background-color: #cfcfcf;
}
</style>
{% endstyle %}
